// Styling for the footer
.footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.devicon-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.devicon-list > div {
  margin: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem .5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem 1rem;
    text-align: center;
  }
}

#about {
  display: flex;
  justify-content: center;
}

.intro-info {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.marg-bottom {
  margin-bottom: 20px;
}

#profile-picture {
  height: 200px;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  #profile-picture {
    height: 300px;
    width: auto;
  }
}

@media only screen and (min-width: 1000px) {
  #profile-picture {
    height: 250px;
    width: auto;
  }
}

.lead {
  text-align: left;
}

@media only screen and (max-width: 800px) {
  #profile-picture {
    margin-bottom: 1em;
  }
  .lead {
    text-align: center;
  }
  .portfolio-blurb {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-blurb {
    font-size: 12px;
  }
}

// @media only screen and (max-width: 570px) {
//   .portfolio-blurb {
//     font-size: 12px;
//   }
// }




.footer-list, footer, .social-buttons, .list-inline-item {
  display: flex;
  justify-content: center;
}

#skills {
  width: 100%;
}
