// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.section-heading {
  padding: 1em 0 1em 0;
  margin-bottom: 0;
}

#about, #skills {
  padding-top: 1em;
  padding-bottom: 1em;
}

#nature-background {
  background-image: url("../../img/nature.jpg");
  background-size: cover;
  background-position: fixed;
}

#opaque {
  background-color: rgba(255, 255, 255, .7)
}

#contact {
  padding: 3em;
}

h2 {
  margin-bottom: 0;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0) !important;
}

#about {
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-intro {
  padding: 2em;
}
